In [5]:
import pandas as pd

In [6]:
# Create connection to Postgres
from sqlalchemy import create_engine

In [7]:
# Create the sql engine to connect to postgres
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
# connecting the engine
engine.connect()

In [ ]:
# In Pandas there is a module called io that let's you interface with another package called sql that
# allows you to connect to a db and define the ddl for creating the table!
print(pd.io.sql.get_schema(df, 'yellow_taxi_data', con=engine))

In [48]:
# defining a pandas df iterator
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', iterator=True, chunksize=100000)

In [54]:
# See if the table exists and basically truncate it based off the headers of the df
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [14]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2024-01-18 11:42:00--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 54.230.209.140, 54.230.209.126, 54.230.209.72, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|54.230.209.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100% 1.46M=0.008s

2024-01-18 11:42:00 (1.46 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [9]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-19 13:24:58--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240119T192458Z&X-Amz-Expires=300&X-Amz-Signature=fbd252b3f66070f7e617297cd621132ee210b20b4d4a517f4fb0e1e167012197&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-19 13:24:58--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240119%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240119T192458Z&X-Amz-Expires=300&X-Amz-Signature=fbd252b3f66070f7e617297cd621132ee210b20b4d4a517f4fb0e1e167012197&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: 'green_tripdata_2019-09.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 4.05M 2s
    50K .......... .......... .......... .......... ..........  1% 13.2M 1s
   100K .......... .......... .......... .......... ..........  1% 11.5M 1s
   150K .......... .......... .......... .......... ..........  2% 25.5M 1s
   200K .......... .......... .......... .......... ..........  3% 7.38M 1s
   250K .......... .......... .......... .......... ..........  3%  409M 1s
   300K .......... .......... .......... .......... ..........  4% 6.08M 1s
   350K .......... .......... .......... .......... ..........  5%  240M 1s
   400K .......... .......... .......... .......... ..........  5% 26.5M 1s
   450K .......... .......... .......... .......... ..........  6%  135M 1s
   500K .......... .......... .......... .......... ..........  7%  173M 1s
   550K .......... .......... .......... .......... ..........  7% 5.23M 1s
   600K .......... .......... .......... .......... ..........  8%  217M 1s
   650K .......... .......... .......... .......... ..........  9%  322M 0s
   700K .......... .......... .......... .......... ..........  9% 29.0M 0s
   750K .......... .......... .......... .......... .......... 10%  110M 0s
   800K .......... .......... .......... .......... .......... 11% 39.0M 0s
   850K .......... .......... .......... .......... .......... 11%  422M 0s
   900K .......... .......... .......... .......... .......... 12% 21.2M 0s
   950K .......... .......... .......... .......... .......... 13%  306M 0s
  1000K .......... .......... .......... .......... .......... 13%  189M 0s
  1050K .......... .......... .......... .......... .......... 14% 34.8M 0s
  1100K .......... .......... .......... .......... .......... 14%  267M 0s
  1150K .......... .......... .......... .......... .......... 15% 12.3M 0s
  1200K .......... .......... .......... .......... .......... 16%  258M 0s
  1250K .......... .......... .......... .......... .......... 16% 7.64M 0s
  1300K .......... .......... .......... .......... .......... 17%  123M 0s
  1350K .......... .......... .......... .......... .......... 18%  234M 0s
  1400K .......... .......... .......... .......... .......... 18%  196M 0s
  1450K .......... .......... .......... .......... .......... 19%  215M 0s
  1500K .......... .......... .......... .......... .......... 20% 99.6M 0s
  1550K .......... .......... .......... .......... .......... 20%  331M 0s
  1600K .......... .......... .......... .......... .......... 21%  189M 0s
  1650K .......... .......... .......... .......... .......... 22% 8.69M 0s
  1700K .......... .......... .......... .......... .......... 22% 2.72M 0s
  1750K .......... .......... .......... .......... .......... 23% 2.62M 0s
  1800K .......... .......... .......... .......... .......... 24%  196M 0s
  1850K .......... .......... .......... .......... .......... 24%  308M 0s
  1900K .......... .......... .......... .......... .......... 25% 32.4M 0s
  1950K .......... .......... .......... .......... .......... 26%  235M 0s
  2000K .......... .......... .......... .......... .......... 26%  388M 0s
  2050K .......... .......... .......... .......... .......... 27%  148M 0s
  2100K .......... .......... .......... .......... .......... 28%  233M 0s
  2150K .......... .......... .......... .......... .......... 28%  389M 0s
  2200K .......... .......... .......... .......... .......... 29%  101M 0s
  2250K .......... .......... .......... .......... .......... 29%  395M 0s
  2300K .......... .......... .......... .......... .......... 30%  192M 0s
  2350K .......... .......... .......... .......... .......... 31%  148M 0s
  2400K .......... .......... .......... .......... .......... 31%  343M 0s
  2450K .......... .......... .......... .......... .......... 32%  266M 0s
  2500K .......... .......... .......... .......... .......... 33%  306M 0s
  2550K .......... .......... .......... .......... .......... 33%  357M 0s
  2600K .......... .......... .......... .......... .......... 34%  312M 0s
  2650K .......... .......... .......... .......... .......... 35%  278M 0s
  2700K .......... .......... .......... .......... .......... 35%  202M 0s
  2750K .......... .......... .......... .......... .......... 36%  313M 0s
  2800K .......... .......... .......... .......... .......... 37%  311M 0s
  2850K .......... .......... .......... .......... .......... 37%  242M 0s
  2900K .......... .......... .......... .......... .......... 38%  274M 0s
  2950K .......... .......... .......... .......... .......... 39%  263M 0s
  3000K .......... .......... .......... .......... .......... 39%  180M 0s
  3050K .......... .......... .......... .......... .......... 40% 91.0M 0s
  3100K .......... .......... .......... .......... .......... 41%  375M 0s
  3150K .......... .......... .......... .......... .......... 41%  334M 0s
  3200K .......... .......... .......... .......... .......... 42%  255M 0s
  3250K .......... .......... .......... .......... .......... 43%  257M 0s
  3300K .......... .......... .......... .......... .......... 43%  238M 0s
  3350K .......... .......... .......... .......... .......... 44%  355M 0s
  3400K .......... .......... .......... .......... .......... 44%  418M 0s
  3450K .......... .......... .......... .......... .......... 45%  254M 0s
  3500K .......... .......... .......... .......... .......... 46%  321M 0s
  3550K .......... .......... .......... .......... .......... 46%  463M 0s
  3600K .......... .......... .......... .......... .......... 47%  244M 0s
  3650K .......... .......... .......... .......... .......... 48%  249M 0s
  3700K .......... .......... .......... .......... .......... 48%  395M 0s
  3750K .......... .......... .......... .......... .......... 49%  199M 0s
  3800K .......... .......... .......... .......... .......... 50%  286M 0s
  3850K .......... .......... .......... .......... .......... 50%  362M 0s
  3900K .......... .......... .......... .......... .......... 51%  187M 0s
  3950K .......... .......... .......... .......... .......... 52%  279M 0s
  4000K .......... .......... .......... .......... .......... 52%  413M 0s
  4050K .......... .......... .......... .......... .......... 53% 35.8M 0s
  4100K .......... .......... .......... .......... .......... 54%  173M 0s
  4150K .......... .......... .......... .......... .......... 54%  377M 0s
  4200K .......... .......... .......... .......... .......... 55% 23.8M 0s
  4250K .......... .......... .......... .......... .......... 56%  320M 0s
  4300K .......... .......... .......... .......... .......... 56% 97.0M 0s
  4350K .......... .......... .......... .......... .......... 57%  216M 0s
  4400K .......... .......... .......... .......... .......... 58% 17.9M 0s
  4450K .......... .......... .......... .......... .......... 58%  249M 0s
  4500K .......... .......... .......... .......... .......... 59% 16.6M 0s
  4550K .......... .......... .......... .......... .......... 59%  264M 0s
  4600K .......... .......... .......... .......... .......... 60% 89.9M 0s
  4650K .......... .......... .......... .......... .......... 61%  147M 0s
  4700K .......... .......... .......... .......... .......... 61% 21.9M 0s
  4750K .......... .......... .......... .......... .......... 62%  149M 0s
  4800K .......... .......... .......... .......... .......... 63%  215M 0s
  4850K .......... .......... .......... .......... .......... 63% 40.6M 0s
  4900K .......... .......... .......... .......... .......... 64%  201M 0s
  4950K .......... .......... .......... .......... .......... 65%  295M 0s
  5000K .......... .......... .......... .......... .......... 65% 25.6M 0s
  5050K .......... .......... .......... .......... .......... 66%  164M 0s
  5100K .......... .......... .......... .......... .......... 67% 33.4M 0s
  5150K .......... .......... .......... .......... .......... 67%  434M 0s
  5200K .......... .......... .......... .......... .......... 68% 41.2M 0s
  5250K .......... .......... .......... .......... .......... 69%  353M 0s
  5300K .......... .......... .......... .......... .......... 69% 21.2M 0s
  5350K .......... .......... .......... .......... .......... 70%  189M 0s
  5400K .......... .......... .......... .......... .......... 71%  289M 0s
  5450K .......... .......... .......... .......... .......... 71% 3.09M 0s
  5500K .......... .......... .......... .......... .......... 72%  130M 0s
  5550K .......... .......... .......... .......... .......... 73%  287M 0s
  5600K .......... .......... .......... .......... .......... 73% 17.8M 0s
  5650K .......... .......... .......... .......... .......... 74%  140M 0s
  5700K .......... .......... .......... .......... .......... 74%  170M 0s
  5750K .......... .......... .......... .......... .......... 75% 46.7M 0s
  5800K .......... .......... .......... .......... .......... 76%  211M 0s
  5850K .......... .......... .......... .......... .......... 76%  239M 0s
  5900K .......... .......... .......... .......... .......... 77%  220M 0s
  5950K .......... .......... .......... .......... .......... 78%  285M 0s
  6000K .......... .......... .......... .......... .......... 78% 47.3M 0s
  6050K .......... .......... .......... .......... .......... 79%  201M 0s
  6100K .......... .......... .......... .......... .......... 80%  207M 0s
  6150K .......... .......... .......... .......... .......... 80% 29.6M 0s
  6200K .......... .......... .......... .......... .......... 81%  208M 0s
  6250K .......... .......... .......... .......... .......... 82%  259M 0s
  6300K .......... .......... .......... .......... .......... 82%  245M 0s
  6350K .......... .......... .......... .......... .......... 83%  159M 0s
  6400K .......... .......... .......... .......... .......... 84%  221M 0s
  6450K .......... .......... .......... .......... .......... 84%  410M 0s
  6500K .......... .......... .......... .......... .......... 85%  180M 0s
  6550K .......... .......... .......... .......... .......... 86% 10.9M 0s
  6600K .......... .......... .......... .......... .......... 86%  276M 0s
  6650K .......... .......... .......... .......... .......... 87% 24.0M 0s
  6700K .......... .......... .......... .......... .......... 88%  227M 0s
  6750K .......... .......... .......... .......... .......... 88% 34.7M 0s
  6800K .......... .......... .......... .......... .......... 89% 22.7M 0s
  6850K .......... .......... .......... .......... .......... 89%  157M 0s
  6900K .......... .......... .......... .......... .......... 90% 3.10M 0s
  6950K .......... .......... .......... .......... .......... 91%  180M 0s
  7000K .......... .......... .......... .......... .......... 91% 7.82M 0s
  7050K .......... .......... .......... .......... .......... 92%  170M 0s
  7100K .......... .......... .......... .......... .......... 93% 5.40M 0s
  7150K .......... .......... .......... .......... .......... 93%  228M 0s
  7200K .......... .......... .......... .......... .......... 94%  162M 0s
  7250K .......... .......... .......... .......... .......... 95% 3.49M 0s
  7300K .......... .......... .......... .......... .......... 95% 3.00M 0s
  7350K .......... .......... .......... .......... .......... 96%  103M 0s
  7400K .......... .......... .......... .......... .......... 97%  236M 0s
  7450K .......... .......... .......... .......... .......... 97%  259M 0s
  7500K .......... .......... .......... .......... .......... 98%  235M 0s
  7550K .......... .......... .......... .......... .......... 99%  195M 0s
  7600K .......... .......... .......... .......... .......... 99%  438M 0s
  7650K .......... ..........                                 100%  403M=0.2s

2024-01-19 13:24:58 (30.4 MB/s) - 'green_tripdata_2019-09.csv.gz' saved [7854533/7854533]

In [15]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [10]:
df_green_trips = pd.read_csv('green_tripdata_2019-09.csv.gz')

C:\Users\tstevens\AppData\Local\Temp\ipykernel_20992\3237949995.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green_trips = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [11]:
df_green_trips.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [17]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [12]:
df_green_trips.to_sql(name='green_trips_data', con=engine, if_exists='replace')

63

In [56]:
from time import time

In [57]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    # Convert columns from text to datetime
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk... took %.3f second' % (t_end - t_start))

inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...
inserted another chunk...

C:\Users\tstevens\AppData\Local\Temp\ipykernel_24376\1215728971.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...
inserted another chunk...

StopIteration: